body {
    margin: 0;
    padding: 0;
}
.site{
    position: absolute;
    left:0;
    top:0;
    width:200px;
    height: 360px;
    background-color:black;
}
.activityModel {
    border: 1px;
    width: 19px;
    height: 19px;
    background: red;
    position: absolute;
}
