body {
    margin: 0;
    padding: 0;
}

.activityModel {
    border: 1px;
    width: 19px;
    height: 19px;
    background: linear-gradient(70deg, indianred, white);
    position: absolute;
}

.site {
    position: absolute;
    left: 200px;
    top: 200px;
    width: 200px;
    height: 360px;
    background-color: black;
}
